:root{
    --primary-color: #1f72a1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #1f72a1 74%);
    background-repeat: no-repeat;
    font-family: 'Mukta', sans-serif;
}

.container{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.container form fieldset{
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    border: none;
    border-radius: 0.5rem;

}

form fieldset .date{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

form fieldset h4{
    margin: 10px;   
}

form fieldset .date input{
    border: none;
    padding: 2px;
    border-radius: 0.2rem;
    outline: none;
    width: 200px;
    background-color: var(--primary-color);
    font-family: 'Mukta', sans-serif;
    transition: 400ms all ease-in-out;
}

form fieldset .date input:nth-child(2){
    margin-bottom: 2rem;
}

form fieldset .date input:focus{
    background-color: #5db5d8;
}

form fieldset .date label{
    font-size: 18px;

}

.button{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 4rem;
    
}

div #button{
    background-color: var(--primary-color);
    border-radius: 0.2rem;
    box-shadow: none;
    outline: none;
    height: 50px;
    width: 150px;
    border: none;
    cursor: pointer;
    transition: 400ms all ease-in-out;
    font-style: italic;
}

#button:hover{
    background-color: #5db5d8;
}


